/*--------Global styles------*/
.wrapper {
  width: 1440px;
  margin: 0; }

/*--------Banner styles------*/
#banner {
  background: url("../images/banner.jpg") no-repeat;
  background-size: cover;
  background-blend-mode: difference; }
