/*--------Global styles------*/
$white: #fff;
$highlight: #70ff81;
$grey_background: #efefef;
$indicators: #a39f9d;
$footer-background: #9f9c9a;
$paragraph-color: #a6a6a6;
$title-color: #3f3d4e;

* {
  box-sizing: border-box;
}

.wrapper {
  width: 1440px;
  max-width: 90%;
  margin: 0 auto;

}

.button {
  border: none;
  color: $white;
  text-decoration: none;
  border-radius: 2rem;
  padding: .5rem 3rem;
  font-weight: bold;
  text-align: center;
}

.button_highlight {
  background: $highlight;
}

.btn-secondary {
  background: rgba(250, 250, 250, 0.6);
}

.btn-small {
  padding: .3rem 1.3rem;
}

.cf:after,
.cf:before {
  content: '';
  display: table;
}

.cf:after {
  clear: both;
}

/*----------Content ------------*/
.content-title {
  text-align: center;
  color: $title-color;
  font-size: 1.875rem;
  font-weight: bold;
  margin: 0;
  padding: 0 0 1.5rem 0;
}

.content-title-underline {
  width: 47px;
  height: 5px;
  background-color: $highlight;
  margin: 0 auto 0 auto;
}

h3 {
  font-size: 1.5rem;
  color: $title-color;
}

body {
  font-family: "Brandon Grotesque", "Roboto Slab", Helvetica, sans-serif;
  font-weight: normal;
  color: $paragraph-color;
}

/*--------Banner styles------*/
#banner {
  background: url("../images/banner.jpg") no-repeat;
  background-size: cover;
  header {
    padding: 2rem 0;
  }
  #logo {
    color: $white;
    font-weight: 700;
    font-size: 1.5rem;
    float: left;
    margin: 0;
    span {
      color: $highlight;
      font-weight: 500;
    }
  }
  nav {
    float: right;
    a {
      color: $white;
      font-weight: 700;
      margin-left: 2rem;
      text-decoration: none;
    }
  }
  .content {
    padding: 9.375rem 0 9rem 0;
  }
  .title, .sub_title {
    color: $white;
    text-align: center;
  }
  .title {
    font-size: 3.75rem;
    margin: 0;
  }
  .sub_title {
    font-weight: 400;
    font-size: 1.35rem;
    width: 500px;
    margin: 0 auto 2rem auto;
    line-height: 1.75rem;
  }
  .btn-wrapper {
    text-align: center;
  }
}

/*-------Services-------*/
#services {
  margin: 3.875rem 0;

  .service {
    width: 31%;
    float: left;
    margin: 5rem 1% 0 1%;
    padding: 3rem 1.5%;
    text-align: center;
    background: $grey_background;
    position: relative;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 57px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 57px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 57px 0px rgba(0, 0, 0, 0.25);

  }
  .button {
    padding: .5rem 2rem;
  }
  p {
    margin: 0 0 2rem 0;
  }
}

/*-------About-------*/

#about {
  margin: 9rem 0;

  img{
    width: 39%;
    -webkit-box-shadow: 0px 0px 57px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 57px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 57px 0px rgba(0, 0, 0, 0.25);
    float: left;
    position: absolute;

  }
  #content-aside{
    float:right;

  }
}