/*--------Global styles------*/
.wrapper{
  width: 1440px;
}
/*--------Banner styles------*/
#banner {
  background: url("../images/banner.jpg") no-repeat;
  background-size: cover;
  background-blend-mode: difference;
}